six
requests
# Old Python needs old jsonschema
jsonschema<=2.5.1; python_version<'2.7'
jsonschema; python_version>='2.7'
# Old Python needs old PyYAML
PyYAML<3.12; python_version<'3'
# New Python can use newest PyYAML
PyYAML; python_version>='3'